@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Global Variables */
:root {
  --primary-color: #00355f;
  --secondary-color: #2596be;
  --text-color: #f0f0f0;
  --gradient: linear-gradient(to right bottom, #00355f, #2596be);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", 'Gill Sans', Arial, sans-serif;
}

body {
  height: 100vh;
  padding-bottom: 140px;
  background-color: lightblue;
}

.chat-navbar {
  background: var(--gradient);
  min-height: 60px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "back-button heading";
  padding: 0 2rem;
  align-items: center;
}

.chat-back-btn, .chat-heading {
  font-size: 1.5rem;
  color: var(--text-color);
  padding: 0;
  margin: 0;
}

.chat-back-btn {
  border: none;
  background-color: transparent;
}

.chat-heading {
  justify-self: center;
}

.chat-container {
  background-color: rgb(240, 240, 240);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas: 
    "display"
    "send-message";
}

.message-display {
  grid-area: display;
  overflow-y: scroll;
}

.message-form-container {
  position: relative;
  grid-area: send-message;
  display: grid;
  grid-template-columns: 1fr;
  padding: 4px 0;
  box-shadow:  0 1px 8px rgba(0, 0, 0, 0.5);
  column-gap: 8px;
}

.btn-send {
  position: absolute;
  color: var(--text-color);
  background: var(--gradient);
  padding: 0.5rem 2rem;
  right: 2px;
  top: 6px;
  bottom: 6px;
  border-radius: 50px;
  border: none;
}

.input {
  padding: 0.5rem 2rem;
  padding-right: 120px;
  border-radius: 50px;
  border: 2px solid black;
}

.input:active,
.input:focus {
  border: 2px solid black;
  outline: none; 
}

.input::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}

.loading-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  animation: myMove 3s forwards infinite;
  font-size: 3rem;
}

@keyframes myMove {
  100% {transform: rotate(360deg);}
}

.left-message,
.right-message {
  margin-bottom: 16px;
  column-gap: 12px;
}

.right-content *,
.left-content * {
  padding: 0;
  margin: 0;
}

.left-message {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "none name"
    "profile content"
    "none time";
  margin: 0 auto 0 0;
  justify-content: start;
}

.right-message {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "name none"
    "content profile"
    "time none";
  margin: 0 0 0 auto;
  justify-content: end;
}

.left-content {
  justify-self: start;
}

.right-content {
  justify-self: end;
}

.text {
  padding: 1rem;
  max-width: 280px;
  overflow-wrap: break-word;
}

.left-content > .title {
  align-items: center;
}

.left-content > .text {
  background-color: lightgreen;
  border-radius: 16px 16px 16px 0px;
}

.right-content > .text {
  background-color: lightblue;
  border-radius: 16px 16px 0px 16px;
}

.profile-container {
  height: 60px;
  align-self: end;
  margin-bottom: 16px;
}

.profile-icon {
  aspect-ratio: 1 / 1;
  height: 100%;
  border: 4px solid black;
  border-radius: 50%;
}

.time {
  font-size: 12px;
}

.commuting-span {
 font-size: 0.8rem;
}

/* Adjustments for Small Screens */
@media only screen and (min-width: 800px) {
  .input {
    padding-right: 120px;
  }
}