/* Global Variables */
:root {
  --primary-color: #00355f;
  --secondary-color: #2596be;
  --text-color: #f0f0f0;
  --box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  --transition-time: 0.5s;
  --nav-height: 80px;
  --max-container-width: 800px;
}

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", 'Gill Sans', Arial, sans-serif;
}

/* Body Styles */
body {
  background-color: lightblue;
  padding-top: 80px;
  padding-bottom: 80px;
}

/* Navbar Styles */
.navbar-friends {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 3;
  height: var(--nav-height);
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-areas: "friends pending suggested profile";
  justify-content: space-around;
  align-items: center;
  column-gap: 8px;
  box-shadow: var(--box-shadow);
  background: linear-gradient(to right bottom, var(--primary-color), var(--secondary-color));
}

.nav-btn-friends {
  height: 100%;
  background-color: transparent;
  border: none;
  font-weight: bold;
  color: var(--text-color);
  transition: color var(--transition-time);
}

.nav-btn-friends:hover {
  color: black;
}

/* Profile Container (Shown in Large Screens) */
.nav-profile-container {
  display: block;
  width: 60px;
  height: 60px;
}

.nav-profile {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid transparent;
  transition: border var(--transition-time);
}

.nav-profile:hover,
.nav-profile:active {
  border: 4px solid black;
}

.material-symbols-outlined {
  vertical-align: middle;
}

/* User Card */
.user {
  width: 100%;
  max-width: var(--max-container-width);
  height: 160px;
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "profile body buttons";
  column-gap: 16px;
  align-items: center;
  background-color: #e3e3e3;
  margin: 16px auto;
  padding: 16px;
  box-shadow: 0 0 8px black;
}

.user::before {
  position: absolute;
  width: 46px;
  height: 100%;
  left: 0;
  content: "";
  background: linear-gradient(to right bottom, var(--primary-color), var(--secondary-color));
}

.user-profile-container {
  position: relative;
  grid-area: profile;
  width: 80px;
  height: 80px;
}

.user-profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #e3e3e3;
  transition: border var(--transition-time);
}

.user-profile:hover,
.user-profile:active {
  border: 4px solid black;
}

/* Button Container */
.buttons-container {
  display: flex;
  flex-direction: column;
}

/* Button Styles */
.btn-friends {
  background-color: transparent;
  border: none;
  font-size: 40px;
  transition: color var(--transition-time);
}

.btn-friends:active {
  color: var(--secondary-color);
}

.btn-padding {
  padding: 8px;
}

/* Fiends search bar */
#searchbar {
  width: 80%;
  margin-top: 10px;
  margin-left: 10%;
  box-shadow: var(--box-shadow);
}

/* No Users Container */
.no-users-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 320px;
  width: 100%;
  margin: 32px auto;
}

.no-users-container img {
  object-fit: cover;
  border: 8px solid black;
  border-radius: 16px;
  width: 100%;
}

/* Adjustments for Larger Screens */
@media only screen and (min-width: 991px) {
  .no-users-container {
    max-width: var(--max-container-width);
  }

  .user {
    grid-template-columns: 120px 1fr auto;
  }

  .user-profile-container {
    justify-self: center;
  }

  .user::before {
    width: 76px;
  }
}

/* Adjustments for Small Screens */
@media only screen and (max-width: 330px) {
  .nav-btn-friends {
    font-size: 0.9rem;
  }
}