.user {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "profile content";
  padding: 1rem 1rem 1rem 1rem;
  background-color: lightgray;
  margin-bottom: 1rem;
  gap: 1rem;
  border-radius: 20px;
}

.user-profile {
  grid-area: profile;
  width: 100px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

.user-body {
  grid-area: content;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto auto;
  grid-template-areas: 
    "name date arrow"
    "message message empty";
  padding: 1rem 0;
}

.user-title {
  grid-area: name;
  font-size: 1.2rem
}

.user-text {
  grid-area: message;
}

.user-arrow {
  grid-area: arrow;
  font-size: 1.2rem;
  margin: auto 0;
}

@media only screen and (min-width: 700px) {
  #content-container {
    width: 75%;
    margin: 0 auto;
  }
}
