html, body, body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 100px;
  padding-bottom: 100px;
}

.navbar-friends {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: repeat(1fr, 4);
  grid-template-areas: "edit friends pending suggested";
  justify-content: space-around;
  align-items: center;
  column-gap: 16px;
  background: linear-gradient(to right bottom, #00355f, #2596be);
}

.nav-btn-friends {
  height: 100%;
  padding: 0 8px;
  background-color: transparent;
  border: none;
  font-weight: bold;
  color: #f0f0f0;
  transition: color 0.5s;
}

.nav-btn-friends:hover {
  color: black;
}

.nav-profile-container {
  display: none;
}

.user {
  width: 100%;
  max-width: 800px; 
  height: 160px;
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "profile body buttons";
  column-gap: 16px;
  align-items: center;
  background-color: #e3e3e3;
  margin: 16px auto;
  padding: 16px;
  box-shadow: 0 0 8px black;
}

.user::before {
  position: absolute;
  width: 46px;
  height: 100%;
  left: 0;
  content: '';
  background: linear-gradient(to right bottom, #00355f, #2596be);
}

.user-profile-container {
  position: relative;
  grid-area: profile;
  width: 80px;
  height: 80px;
}

.user-profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #e3e3e3;
  transition: border 0.5s;
}

.user-profile:hover,
.user-profile:active {
  border: 4px solid black;
}

.buttons-container {
  display: flex;
  flex-direction: column;
}

.btn-friends {
  font-size: 32px;
}

.btn-padding {
  padding: 8px;
}

.no-users-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 320px;
  width: 100%;
  margin: 32px auto;
}

.no-users-container img {
  object-fit: cover;
  border: 8px solid black;
  border-radius: 16px;
  width: 100%;
}

/* This is so it can be responsive down to 314px */
@media only screen and (max-width: 330px) {
  .nav-btn-friends {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 991px) {
  .navbar-friends {
    grid-template-columns: 1fr 1fr auto 1fr 1fr;
    grid-template-areas: "edit friends profile pending suggested";
  }

  .nav-profile-container {
    display: block;
    width: 80px;
    height: 80px;
  }

  .nav-profile {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid transparent;
    transition: border 0.5s;
  }

  .nav-profile:hover,
  .nav-profile:active {
    border: 4px solid black;
  }

  .no-users-container {
    max-width: 800px;
  }

  .user {
    grid-template-columns: 120px 1fr auto;
  }

  .user-profile-container {
    justify-self: center;
  }

  .user::before {
    width: 76px;
  }
}

