@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');

/* Global Variables */
:root {
    --primary-gradient: linear-gradient(to right bottom, #00355f, #2596be);
    --card-color: #e3e3e3;
}

html,
body,
body * {
    margin: 0;
    padding: 0;
}


body {
    background-color: lightblue;
    /* allows all cards to be on screen */
    padding-bottom: 80px;
}

/* Width of search bar */
.form-control {
    width: 80vw;
}

/* top right profile picture */
.profile-logo {
    width: 70px;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--card-color);
}

/* Card buttons */
.material-symbols-outlined {
    font-size: 300%;
}

/* container holding different routes */
#bus-info {
    margin: 16px auto;
    height: 100%;
    width: 90vw;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Displayed routes */
.card {
    width: 80%;
    max-width: 850px;
    height: 180px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "body buttons";
    align-items: center;
    background-color: var(--card-color);
    margin: 16px auto;
    padding-left: 16px;
    box-shadow: 0 0 8px black;
}

/* Side gradient on card */
.card::before {
    position: absolute;
    width: 14%;
    height: 100%;
    left: 0;
    content: '';
    background: var(--primary-gradient);
}

/* Main card info */
.card-body {
    /* position: absolute; */
    width: 100%;
    grid-area: body;
    padding-left: 15%;
}

/* Main button on the card */
#cardbtn {
    position: absolute;
    top: 40px;
    right: 5px;
    border: none;
    background-color: var(--card-color);
}

/* Commute button on the card */
#commutebtn {
    position: absolute;
    top: 90px;
    right: 5px;
    border: none;
    background-color: var(--card-color);
}

/* Remove button for the card */
#removebtn {
    position: absolute;
    border-radius: 50%;
    border: none;
    float: right;
    top: -20px;
    right: -18px;
    font-size: 34px;
    color: var(--card-color);
    background: var(--primary-gradient);
}

.card-title {
    font-weight: bold;
}

.card-text {
    line-height: 40px;
}

/* No route pop up text */
#status h3 {
    text-align: center;
    padding: 5%;
    font-weight: bolder;
    font-size: 2rem;
}

/* top Search bar */
#searchbar {
    font-weight: bolder;
    box-shadow: 0 0 8px black;
    background-color: var(--card-color);
}

/* Top bar */
.navbar {
    background: var(--primary-gradient);
}

/* Adjustments for Small Screens */
@media only screen and (max-width: 520px) {
    .bus-info {
      width: 100%;
      margin: 0 auto;
      padding: 0;
    }
    .card {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .card-text {
        line-height: 20px;
        font-size: 18px;
        width: 80%;
    }
    .card-title {
        font-size: 22px;
        width: 80%;
    }

    #commutebtn,
    #cardbtn {
        font-size: 40px;
    }
  }