.custom-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: #e3e3e3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  padding: 0;
  margin: 0;
}


.custom-nav-item {
  text-decoration: none;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: color 0.3s, background-color 0.3s;
}


.material-symbols-outlined.custom-icon {
  font-size: 200%;
  color: #000;
}

.custom-label {
  font-size: 12px;
  font-weight: bolder;
  margin: 0;
  color: #000;
}


.custom-nav-item.active .custom-icon,
.custom-nav-item.active .custom-label {
  color: #2596BE;
}