
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", 'Gill Sans', Arial, sans-serif;
}

:root {
  --box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  --transition-time: 0.05s;
}

body {
  background-color: lightblue;
}



#edit{
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
}

button[type="submit"]{
    height: 40px;
    border: 0;
    border-radius: 8px;
    background-color: #2596BE;
    color: white;
}


.profile-info{
    margin-top: 1%;
    margin-left: 3%;
    
}

.profile-info img{
    width: 20%;
    height: auto;
    margin-right: 50px;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    transition: border var(--transition-time);
  }
  
  .profile-info img:hover,
  .profile-info img:active {
    border: 4px solid black;
  }

.form-container {
    margin: 0 auto;
    width: 96%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: var(--box-shadow);
  }

.form-group {
    margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
}


.email-container span {
  flex-grow: 1;
  color: #666;
}

.change-link {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

.change-link:hover {
  text-decoration: underline;
}

.form-group textarea{
  width: 100%;
  height: 150px;
  border: 1px solid #ddd;
  box-shadow: var(--box-shadow);

}

#upload-button, #save-button, #clear-button {
  height: 40px;
  width: 150px;
  border: 0;
  font-style: italic;
  border-radius: 8px;
  background-color: #2596BE;
  color: white; 
  box-shadow: var(--box-shadow);
}

#clear-button {
  /* background-color: gainsboro; */
  margin-left: 50px;
}

#log-out {
  background-color: lightgray;
  color: black;
  font-style: italic;
  width: 100px;
  margin-left: 80px;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 100px;
  
}

.fixed-bottom{
  height: 8%;
  padding-left: 40px;
  padding-right: 40px;
}

.container-fluid .material-symbols-outlined{
  font-size: 40px;
}
  

input[type="date"]::-webkit-calendar-picker-indicator {
  font-size: 20px; 
  width: 24px; 
  height: 24px; 
}

.navbar-friends {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: repeat(1fr, 4);
  grid-template-areas: "edit friends pending suggested";
  justify-content: space-around;
  align-items: center;
  column-gap: 16px;
  background: linear-gradient(to right bottom, #00355f, #2596be);
}

.nav-btn-friends {
  height: 100%;
  padding: 0 8px;
  background-color: transparent;
  border: none;
  font-weight: bold;
  color: #f0f0f0;
  transition: color 0.5s;
}

.nav-btn-friends:hover {
  color: black;
}

body {
  padding-top: 100px;
  padding-bottom: 100px;
}



  




