
*{
    margin: 0;
    padding: 0;
}

.top-part {
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    display: grid;
    grid-template-columns: 40px auto 200px;
    border-bottom: 1px solid #2596BE;
}

#edit{
    font-size: 1.5rem;
    font-weight: 600;
    color: #2596BE;
}

button[type="submit"]{
    height: 40px;
    border: 0;
    border-radius: 8px;
    background-color: #2596BE;
    color: white;
}

.material-symbols-outlined{
    padding-top: 8px;
    color: #2596BE;
}

.profile-info{
    margin-top: 3%;
    margin-left: 3%;
}

.profile-info img{
    width: 20%;
    height: auto;
    margin-right: 50px;
    border-radius: 50%;
}

.form-container {
    margin: 0 auto;
    width: 96%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
  }

.form-group {
    margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}


.email-container span {
  flex-grow: 1;
  color: #666;
}

.change-link {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

.change-link:hover {
  text-decoration: underline;
}

.form-group textarea{
  width: 100%;
  height: 150px;
  border: 1px solid #ddd;
}

#upload-button, #save-button, #clear-button {
  height: 40px;
  width: 150px;
  border: 0;
  font-style: italic;
  border-radius: 8px;
  background-color: #2596BE;
  color: white; 
}

#clear-button {
  background-color: gainsboro;
  margin-left: 50px;
}

#log-out {
  background-color: gainsboro;
  width: 100px;
  margin-left: 80px;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 100px;
}

.fixed-bottom{
  height: 8%;
  padding-left: 40px;
  padding-right: 40px;
}

.container-fluid .material-symbols-outlined{
  font-size: 40px;
}
  

input[type="date"]::-webkit-calendar-picker-indicator {
  font-size: 20px; 
  width: 24px; 
  height: 24px; 
}




