@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');

html, body, body * {
    margin: 0;
    padding: 0;
}

.btn-primary,
.btn-warning {
    font-weight: bold;
    width: 30%;
    margin-top: 2vh;
    border: 0;
    font-size: 1.2rem;
}

.form-control {
    width: 80vw;
}

.profile-logo {
    height: 50px;
    width: auto;
}

.fixed-bottom {
    height: 10%;
    padding-left: 40px;
    padding-right: 40px;
}

.material-symbols-outlined {
    font-size: 40px;
    color: #2596BE;
}

#bus-info {
    margin: 30px auto;
    height: 100%;
    width: 80vw;
    background-color: #2596BE;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#status h4 {
    text-align: center;
    padding: 5%;
}

#cardbtn,
#removebtn {
    float: right;
}

.card {
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;

}

#mainContainer {
    margin-bottom: 100px;
}


