@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');

html, body, body * {
    margin: 0;
    padding: 0;
}

.btn-primary,
.btn-warning {
    font-weight: bold;
    width: 30%;
    margin-top: 2vh;
    border: 0;
    font-size: 1.2rem;
}

.form-control {
    width: 80vw;
}

.profile-logo {
    height: 50px;
    width: auto;
}

.fixed-bottom {
    height: 8%;
    padding-left: 40px;
    padding-right: 40px;
}

.material-symbols-outlined {
    font-size: 40px;
}

#bus-info {
    margin: 30px auto;
    height: 100%;
    width: 80vw;
    background-color: lightgray;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#status h4 {
    text-align: center;
    padding: 5%;
}

#cardbtn,
#removebtn {
    float: right;
}

.card {
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;

}

#mainContainer {
    margin-bottom: 100px;
}

#table-info {
    width: 80%;
    max-width: 600px;
    margin-top: 10px;
    border-collapse: collapse;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#table-info td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

#table-info tr:nth-child(even) {
    background-color: #f2f2f2;
}

#table-info tr:hover {
    background-color: #eaeaea;
}

#table-info td:first-child {
    font-weight: bold;
    color: #333;
}

#table-info td:last-child {
    color: #555;
}

a {
    text-decoration: none;
  }

  .footer {
    background-color: #2596BE;
    height: 50px;
  }

.signup-btn, .header {
    background-color: #2596BE;
}


