
#bustalking {
    border-radius: 5%;
}

#welcome {
    margin: 10% auto;
}

#welcometitle {
    font-size: 50pt;
}

.lead {
    text-align: justify;
    margin-bottom: 5%;
}

body {
    padding-bottom: 120px;
}

.cta-content {
    padding-left: 100px;
}