
#bustalking {
    border-radius: 5%;
}

#welcome {
    margin: 10% auto;
}

#welcometitle {
    font-size: 50pt;
}

.lead {
    text-align: justify;
    margin-bottom: 5%;
}

body {
    padding-bottom: 120px;
}

.cta-content {
    padding-left: 100px;
}

#navtitle {
    font-weight: 700;
    font-style: italic;
    padding-left: 3%;
}
#navbar {
    background-color: rgba(201, 237, 237, 0.707);
}
.nav-item {
    font-weight: 700;
}