
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');

#welcometitle {
    font-size: 50pt;
}

#signup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

.close-btn {
    position: absolute;
    margin-top: -20px;
    top: 5px;
    right: 10px;
    font-size: 50px;
    font-weight: bolder;
    color: azure;
    cursor: pointer;
    z-index: 51;
}

.btn-primary, .btn-warning {
    font-weight: bold;
    width: 30%;
    margin-top: 2vh;
    border: 0;
    font-size: 1.2rem;
}

.form-control {
    width: 80vw;
}

.profile-logo{
    height: 50px;
    width: auto;
}

.fixed-bottom{
    height: 8%;
    padding-left: 40px;
    padding-right: 40px;
}

.material-symbols-outlined{
    font-size: 40px;
}

#bus-info{
    margin: 30px auto;
    height: 100%;
    width: 80vw;
    background-color: lightgray;
    border-radius: 20px;
    padding-top: 20px;
}

#favbtn {
    float:right;
}

.card{
    margin: 0 auto;
    border-radius: 10px;

}
