
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');


#bustalking {
    border-radius: 5%;
}

#welcome {
    margin: 10% auto;
}

#welcometitle {
    font-size: 50pt;
}

.nav-link{
    color: white;
}

.lead {
    text-align: justify;
    margin-bottom: 5%;
}

body {
    padding-bottom: 120px;
}

.cta-content {
    padding-left: 100px;
}

#navtitle {
    font-family: "Edu AU VIC WA NT Guides", cursive;
    color: white;
    font-weight: 700;
    font-style: italic;
    padding-left: 3%;
}
#navbar {
    background-image: linear-gradient(145deg, rgb(112, 112, 168),rgb(86, 86, 193));
}
.nav-item {
    font-weight: 700;
}
#signup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}
.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 50px;
    font-weight: bolder;
    color: red;
    cursor: pointer;
    z-index: 51;
}

.btn-warning {
    background-color: rgb(81, 81, 214);
    color: white;
    font-weight: bold;
    width: 30%;
    border: 0;
    font-size: 1.2rem;
}


.form-control {
    width: 80vw;
}

.profile-logo{
    height: 50px;
    width: auto;
}

.fixed-bottom{
    height: 8%;
    padding-left: 40px;
    padding-right: 40px;
}

.material-symbols-outlined{
    font-size: 40px;
}

#bus-info{
    margin: 30px auto;
    height: 100%;
    width: 80vw;
    background-color: lightgray;
    border-radius: 20px;
}

.card{
    margin: 0 auto;
    border-radius: 10px;
}

.huh {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

